/* Global */

window {
  border: none;
  color: black;
  font-family: "Verdana", san-serif;
  font-size: 1em;
  font-style: normal;
}


.ui {
  margin: 0.5em;
  min-width: 585px;
}

.ui_container {
  border: none;
}

/* Labels */

.label,
.label_title,
.label_right {
  font-weight: bold;
  margin: 0.5em 0 0.5em 0;
  padding-left: 0.5em;
}

.label {
  border-left: solid 5px rgb(167, 167, 167);
  border-bottom: none;
}

.label_right {
  border: none;
  min-width: 0;
}

.label_title {
  font-size: 1.5em;
  border: none;
  text-transform: uppercase;
}

.error {
  border: inset 2px white;
  background-color: rgb(244, 206, 206);
  padding: 1em;
  text-decoration: underline;
}

/* Buttons */

button {
  border-radius: 0;
  border: solid 1px #dedede;
  min-width: 75px;
}

button:hover {
  background: #dedede;
  color: black;
}

.row_button {
  margin: 0 0.5em 0 0.5em;
}

.action {
  margin: 1em 0.5em 0 0;
}

.action_icon {
    min-width: 30px;
    min-height: 30px;
}

.action:hover, .action_icon:hover {
  border: dashed 1px rgb(168, 168, 168);
  background: orange;
  color: white;

}

button.button.action.text-button {
  margin: 0.5em;
}

/* Text Input */

.text_input,
.color_input,
.date_input,
.numeric_input,
.textarea_input {
  border: solid 1px silver;
  border-radius: 0;
  margin: 0.5em 0 0.5em 0;
  padding-left: 0.5em;
}

.textarea_input {
  padding: 0.5em;
}

.text_input:hover,
.color_input:hover,
.date_input:hover,
.numeric_input:hover,
.textarea_input:hover {
  background: #dedede;
}

/* Checkbutton */

checkbutton check:checked,
checkbutton radio:checked,
.toggle_button:checked,
  switch:checked {
  background: orange;
}


/* Togglebutton */

.toggle_button:checked {
  color: black;
}

.toggle_button {
  margin: 0 0 0.5em 0;
}

.task_output, .task_error {
  background: black;
  color: rgb(122,248,79);
  border: inset 2px silver;
}

/* Spinbutton */

spinbutton button.down:hover,
spinbutton button.up:hover {
  background: orange;
  color: white;
}

spinbutton button.down,
spinbutton button.up {
  color: black;
}

scale trough highlight {
  background: orange;
  border: solid 1px orange;
}

.slider_input_container label {
  margin-top: 1em;
}

/* Color chooser */

.colorchooser .text-button,
.settings_dialog .text-button {
  border-radius: 0;
  border: solid 1px #dedede;
  min-width: 75px;
  background: rgb(246,245,244);
  margin: 0.5em;
  color: black;
}

.colorchooser .text-button:hover,
.settings_dialog .text-button:hover {
  color: white;
  background: orange;
}

/* Settings */

.settings_dialog .text-button {
  margin: 0.5em 0.25em 0.5em 0;
}

.settings_container,
.dialog_container {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

tabs {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 36%, rgba(255, 186, 0, 1) 100%);
}

.settings_dialog {
  background: white;
}

/* Notebook */

tab {
  opacity: 0.5;
  transition: opacity 500ms ease 0s;
  box-shadow: none;
}


tab:checked {
  box-shadow: 0 -2px gray inset;
  opacity: 1;
}

tab:hover {
  background: rgb(255, 209, 85);
  opacity: 1;
}

.selector_container .left_header_container {
  background: rgb(255, 186, 0);
  background: linear-gradient(90deg, rgba(255, 186, 0, 1) 1%, rgba(255, 255, 255, 1) 83%);
  min-height: 40px;
}

.selector_container .left_header_label {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.6);
  margin-left: 0.5em;
}

/* Stack */

/* stack {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 13%, rgba(255, 186, 0, 1) 24%, rgba(255, 255, 255, 1) 28%, rgba(255, 186, 0, 1) 29%, rgba(255, 255, 255, 1) 32%);
  background-repeat: repeat;
  background-size: 0vmax;
  background-position: 200px 300px;
} */


/* Other */

.invisible {
  border: none;
  margin: 0;
  padding: 0;
}